html {
    position: relative;
    min-height: 100%;
  }
  body {
    text-align: center;
  }
  .main-header {
    padding-bottom: 15%;
    width: 100%;
    background-size: cover;
    background-image: url("../images/header.jpg");
    background-attachment: fixed;
  }
  /* ここから */

  header {
    background-color: #2b2b2b;
    height: 50px;
  }
  header ul {
    list-style: none;
    margin: 0;
  }
  header ul a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #fff;
  }
  header li.left {
    float: left;
    width: auto;
  }
  header li.right {
    float: right;
    width: auto;
  }

  /* ここまでがheader部分の実装 */

  .main-header p img {
  /* main画像（白い「Achieve」の文字の画像）部分の実装 */
    width: 13%;
  }

  .main-header p{
    /*position: absolute;*/
    top: 0%;
    left: 0%;
    transform: translate(-0%, +140%);
    display: table-cell;
    width: 13%;
  }
  
  .about h1 {
  /* About Achieve部分の実装 */
    font-size: 1.5rem;
  }

  .about p {
    font-size: 0.8rem;
  }
  
  /* ここから */
  .function {
    background-color: #D3D3D3;
  }
  .function-images {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: stretch;
      align-items: stretch;
      /* border: 1px solid #aaa; */
      text-align: center;
      height: 150px;
      padding: 40px;
      /* margin: 20px; */
  }
  .function-image {
    margin: 0 30px;
  }
  /* ここまでがfunction部分の実装 */

  footer {
  /* footer部分の実装 */
    height: 70px;
    background-color: #283A4B;
    display: flex;
    justify-content: center;/* 左右中央を指定しています */
    align-items: center;/* 上下中央を指定しています */
    margin: 0 auto;
  }

  footer p {
    color: #fff;
    font-size: 0.8rem;
  }

